/* General styling for desktop */
.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
}

.abeam-logo, .bursa-logo {
  height: 40px;
  margin: 0 1rem;
}

.header-title {
  font-size: 1.5rem;
  text-align: center;
}

/* For mobile devices */
@media (max-width: 768px) {
  .app-header {
    flex-direction: column;
    text-align: center;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .abeam-logo, .bursa-logo {
    height: 30px; /* Adjust height to fit mobile view */
    margin: 0 1rem;
    width: auto; /* Ensure logos keep their proportions */
  }

  .header-title {
    font-size: 1.2rem;
  }
}
